h1{
    background-color: lightgreen;
    color: black;
    text-align: center;
    position:fixed;
    left:0px;
    width:100%;
    z-index:100;
    margin:0px;
 }
 p{
    text-align: center;
    size: 18px;
 }